name: CI
on:
  repository_dispatch:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "*.*.*"
  pull_request:
    types:
      - opened
      - synchronize

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -D warnings

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.42.0

  test-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install LLVM
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "14.0"
          env: True
      - name: Configure LLVM
        run: echo "LLVM_SYS_140_PREFIX=$LLVM_PATH" >>"$GITHUB_ENV"
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
      - name: Compile
        run: cargo check --locked
      - name: Test
        run: make test
      - name: Run cargo fmt (check if all code is rustfmt-ed)
        run: cargo fmt --all --check
      - name: Run cargo clippy (deny warnings)
        run: cargo clippy --all-targets --all-features -- -D warnings
      - uses: cargo-bins/cargo-binstall@main
      - name: Install cargo-msrv
        run: cargo binstall --no-confirm --force cargo-msrv
      - name: Verify the MSRV
        run: cargo msrv verify
